<h1>Listing Diagnostic Codes</h1>
<%= paginate @diagnostic_codes %>
<table>
  <thead>
    <tr>
      <th>Diagnostic code number</th>
      <th>Diagnostic code name</th>
      <th>Diagnostic cost</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @diagnostic_codes.each do |diagnostic_code| %>
      <tr>
        <td><%= diagnostic_code.dag_code_num %></td>
        <td><%= diagnostic_code.diag_code_name %></td>
        <td><%= number_to_currency(diagnostic_code.diag_cost) %></td>
        <td><%= link_to 'Show', diagnostic_code %></td>
        <td><%= link_to 'Edit', edit_diagnostic_code_path(diagnostic_code) %></td>
        <td><%= link_to 'Destroy', diagnostic_code, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Diagnostic code', new_diagnostic_code_path %>
