<p id="notice"><%= notice %></p>
<h1>Showing diagnostic code:</h1>

<p>
  <strong>Diagnostic code number:</strong>
  <%= @diagnostic_code.dag_code_num %>
</p>

<p>
  <strong>Diagnostic code name:</strong>
  <%= @diagnostic_code.diag_code_name %>
</p>

<p>
  <strong>Diagnostic cost:</strong>
  <%= number_to_currency(@diagnostic_code.diag_cost) %>
</p>

<%= link_to 'Edit', edit_diagnostic_code_path(@diagnostic_code) %> |
<%= link_to 'Back', diagnostic_codes_path %>
