<h1>Listing physicians</h1>

<table>
  <thead>
    <tr>
      <th>Physician name</th>
      <th>Physician status</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @physicians.each do |physician| %>
      <tr>
        <td><%= physician.phy_name %></td>
        <td><%= physician.physician_status.status_name %></td>
        <td><%= link_to 'Physician Information & Schedule', physician %></td>
        <td><%= link_to 'Edit', edit_physician_path(physician) %></td>
        <td><% link_to 'Destroy', physician, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Physician', new_physician_path %>
