<p id="notice"><%= notice %></p>
<h1>Showing physician information:</h1>

<p>
  <strong>Phy name:</strong>
  <%= @physician.phy_name %>
</p>

<p>
  <strong>Physician status:</strong>
  <%= @physician.physician_status.status_name %>
</p>

<br>
<h1> Physician Appointment History:</h1>
<table>

  <tr>
    <th>Appt Date</th>
    <th>Time Slot</th>
    <th>Patient</th>
    <th>Reason</th>
    <th>Diagnostic</th>
    <th>Physician Notes</th>
    <th>Diagnostic Cost</th>
  </tr>

  <% @physician.appts.order('apt_date').reverse.each do |a| %>
      <tr>
        <td> <%=a.apt_date %> </td>
        <td> <%=a.slot.time_block %> </td>
        <td> <%=a.patient.pat_l_name %> </td>
        <td> <%=a.reason %> </td>
        <td> <%=a.diagnostic_code.diag_code_name rescue '' %> </td>
        <td> <%=a.phy_notes %> </td>
        <td> <%=number_to_currency(a.diagnostic_code.diag_cost) rescue '' %> </td>


      </tr>
  <%end%>
</table>

<%= link_to 'Edit', edit_physician_path(@physician) %> |
<%= link_to 'Back', physicians_path %>
