<%= form_for(@physician_status) do |f| %>
  <% if @physician_status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@physician_status.errors.count, "error") %> prohibited this physician_status from being saved:</h2>

      <ul>
      <% @physician_status.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :status_name %><br>
    <%= f.text_field :status_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
