<h1>Listing Physician Statuses</h1>

<table>
  <thead>
    <tr>
      <th>Physician status name</th>
      <th colspan="3">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @physician_statuses.each do |physician_status| %>
      <tr>
        <td><%= physician_status.status_name %></td>
        <td><%= link_to 'Show', physician_status %></td>
        <td><%= link_to 'Edit', edit_physician_status_path(physician_status) %></td>
        <td><%= link_to 'Destroy', physician_status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Physician status', new_physician_status_path %>
