<p id="notice"><%= notice %></p>
<h1>Showing physician status:</h1>

<p>
  <strong>Status name:</strong>
  <%= @physician_status.status_name %>
</p>

<%= link_to 'Edit', edit_physician_status_path(@physician_status) %> |
<%= link_to 'Back', physician_statuses_path %>
