<%= form_for(@patient) do |f| %>
  <% if @patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% @patient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'First Name' %><br>
    <%= f.text_field :pat_f_name %>
  </div>
  <div class="field">
    <%= f.label 'Last Name' %><br>
    <%= f.text_field :pat_l_name %>
  </div>
  <div class="field">
    <%= f.label 'Email Address' %><br>
    <%= f.text_field :pat_email %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
