<h1>Listing patients</h1>

<table>
  <thead>
    <tr>
      <th>Patient first name</th>
      <th>Patient last name</th>
      <th>Patient email</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.pat_f_name %></td>
        <td><%= patient.pat_l_name %></td>
        <td><%= patient.pat_email %></td>
        <td><%= link_to 'Patient Info & Appointment Summary', patient %></td>
        <td><%= link_to 'Edit', edit_patient_path(patient) %></td>
        <td><%= link_to 'Destroy', patient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Patient', new_patient_path %>
