<p id="notice"><%= notice %></p>
<h1> Showing patient details:</h1>

<p>
  <strong>Patient first name:</strong>
  <%= @patient.pat_f_name %>
</p>

<p>
  <strong>Patient last name:</strong>
  <%= @patient.pat_l_name %>
</p>

<p>
  <strong>Patient email:</strong>
  <%= @patient.pat_email %>
</p>
<br>
<h1> Patient Appointment History:</h1>
<table>

  <tr>
    <th>Appt Date</th>
    <th>Time Slot</th>
    <th>Reason</th>
    <th>Physician</th>
    <th>Diagnostic</th>
    <th>Physician Notes</th>
    <th>Diagnostic Cost</th>
    <th>Actions</th>
  </tr>

  <% @patient.appts.order('apt_date').reverse_order.each do |a| %>
  <tr>
    <td> <%=a.apt_date %> </td>
    <td> <%=a.slot.time_block %> </td>
    <td> <%=a.reason %> </td>
    <td> <%=a.physician.phy_name %> </td>
    <td> <%=a.diagnostic_code.diag_code_name rescue '' %> </td>
    <td> <%=a.phy_notes %> </td>
    <td> <%=number_to_currency(a.diagnostic_code.diag_cost) rescue '' %> </td>
    <td><%=link_to 'Modify Appointment', edit_appt_path(a) %></td>

  </tr>
  <%end%>
</table>



<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
