/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.

 *= require_tree .
  *= require jquery-ui
 *= require_self
 */
table.menu
{
    border-collapse: collapse;
    empty-cells:hide;
}
th.a
{
    padding: 5px;
    background-color: #808080;
    color: #87CEEB;
    empty-cells:hide;
}

td.a
{
    padding: 5px;
    font-style: italic;
    empty-cells:hide;
}

tr.a
{
    color: #FFFFFF;
    empty-cells:hide;
}



table{
    border-collapse: collapse;
    border-spacing: 0;
    width:100%;
    height:100%;
    margin:0px;padding:0px;
}
tr:last-child td:last-child {
    -moz-border-radius-bottomright:0px;
    -webkit-border-bottom-right-radius:0px;
    border-bottom-right-radius:0px;
}
table.normal tr:first-child td:first-child {
    -moz-border-radius-topleft:0px;
    -webkit-border-top-left-radius:0px;
    border-top-left-radius:0px;
}
table.normal tr:first-child td:last-child {
    -moz-border-radius-topright:0px;
    -webkit-border-top-right-radius:0px;
    border-top-right-radius:0px;
}tr:last-child td:first-child{
     -moz-border-radius-bottomleft:0px;
     -webkit-border-bottom-left-radius:0px;
     border-bottom-left-radius:0px;
 }tr:hover td{
      background-color:#ffffff;


  }
td{
    vertical-align:middle;

    background-color:#e6e6f7;

    border:1px solid #000000;
    border-width:0px 1px 1px 0px;
    text-align:left;
    padding:7px;
    font-size:10px;
    font-family:Arial;
    font-weight:normal;
    color:#000000;
}tr:last-child td{
     border-width:0px 1px 0px 0px;
 }tr td:last-child{
      border-width:0px 0px 1px 0px;
  }tr:last-child td:last-child{
       border-width:0px 0px 0px 0px;
   }
tr:first-child td{
    border:0px solid #000000;
    text-align:left;
    border-width:0px 0px 1px 1px;
}
th{
    background:-o-linear-gradient(bottom, #3651ed 5%, #3651ed 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3651ed), color-stop(1, #3651ed) );
    background:-moz-linear-gradient( center top, #3651ed 5%, #3651ed 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#3651ed", endColorstr="#3651ed");	background: -o-linear-gradient(top,#3651ed,3651ed);

    background-color:#3651ed;
    border:0px solid #000000;
    text-align:center;
    border-width:0px 0px 1px 1px;
    font-size:14px;
    font-family:Arial Black;
    font-weight:bold;
    color:#ffffff;
}

tr:first-child td:first-child{
    border-width:0px 0px 1px 0px;
}
tr:first-child td:last-child{
    border-width:0px 0px 1px 1px;
}
