<%= form_for(@appointment) do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% @appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <%= f.label :patient_id %><br>
      <%= f.collection_select :patient_id, Patient.all, :id, :pat_email %>
    </div>

    <div class="field">
      <%= f.label 'Appointment Date' %><br>
      <%= f.date_select :datetime %>
    </div>

    <div class="field">
      <%= f.label 'Time Slot' %><br>
      <%= f.collection_select :slot_id, Slot.all, :id, :time_block, :include_blank => true %>
    </div>

    <div class="field">
      <%= f.label 'Reason for appointment' %><br>
      <%= f.text_area :reason %>
    </div>
  <div class="field">
    <%= f.label 'Physician to be seen' %><br>
    <%= f.collection_select :physician_id, Physician.all, :id, :phy_name, :include_blank => true %>
  </div>

  <div class="field">
    <%= f.label 'Diagnostic' %><br>
    <%= f.collection_select :diagnostic_code_id, DiagnosticCode.all, :id, :diag_code_name, :include_blank => true %>

  </div>

  <div class="field">
    <%= f.label 'Physician Notes' %><br>
    <%= f.text_area :phy_notes%>

  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
