<h1>Listing appointments</h1>

<table>
  <thead>
    <tr>
      <th>Patient Last Name</th>
      <th>Date</th>
      <th>Slot</th>
      <th>Reason</th>
      <th>Physician</th>
      <th>Diagnostic code</th>
      <th>Phy notes</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.patient.pat_l_name %></td>
        <td><%= appointment.datetime %></td>
        <td><%= appointment.slot_id %></td>
        <td><%= appointment.reason %></td>
        <td><%= appointment.physician.phy_name %></td>
        <td><%= appointment.diagnostic_code.diag_code_name %></td>
        <td><%= appointment.phy_notes %></td>
        <td><%= link_to 'Show', appointment %></td>
        <td><%= link_to 'Edit', edit_appointment_path(appointment) %></td>
        <td><%= link_to 'Destroy', appointment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Appointment', new_appointment_path %>
