<p id="notice"><%= notice %></p>

<p>
  <strong>Physician:</strong>
  <%= @appointment.physician.phy_name %>
</p>

<p>
  <strong>Patient last name:</strong>
  <%= @appointment.patient.pat_l_name %>
</p>

<p>
  <strong>Diagnostic code:</strong>
  <%= @appointment.diagnostic_code.diag_code_name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @appointment.datetime %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @appointment.reason %>
</p>

<p>
  <strong>Phy notes:</strong>
  <%= @appointment.phy_notes %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
