<%= form_for(@appt) do |f| %>
  <% if @appt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appt.errors.count, "error") %> prohibited this appt from being saved:</h2>

      <ul>
      <% @appt.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <p>If you do not have an account, please create one in order to book an appointment online:</p>
    <a href="http://localhost:3000/patients/new/">Create an Account</a>
    <br>    </br>
    <br>    </br>

    <div class="field">
      <%= f.label :'Patient Email ID' %><br>
      <%= f.collection_select :patient_id, Patient.all, :id, :pat_email, :include_blank => true %>
      <p style="color:red"><i>(required)</i></p>
    </div>
  </div>
    <div class="field">
      <%= f.label 'Physician to be seen' %><br>
      <%= f.collection_select :physician_id, Physician.active_physicians, :id, :phy_name, :include_blank => true %>
      <p style="color:red"><i>(required)</i></p>
    </div>
  <div class="field">
    <%= f.label :apt_date %><br>
    <%= f.text_field :apt_date %>
    <p style="color:red"><i>(required)</i></p>
  </div>
    <div class="field">
      <%= f.label 'Time Slot' %><br>
      <%= f.collection_select :slot_id, Slot.all, :id, :time_block, :include_blank => true %>
      <p style="color:red"><i>(required)</i></p>
    </div>
    <div class="field">
      <%= f.label 'Reason for appointment' %><br>
      <%= f.text_area :reason %>
      <p style="color:red"><i>(required)</i></p>
    </div>

  <div class="actions">
    <%= f.submit %>
  </div>

    <br>
    <h3 style="color:#900000 "> Appointments must be canceled 8 hours before the booked date.</h3>
    <h3 style="color:#900000 "> If cancelled within the 8 hour window, a $50.00 cancellation charge will apply.</h3>
    <td style="color:#900000 "><%= link_to 'Cancel Appointment', @appt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <hr>
    <br>
    <h2> Physician Actions:</h2>
    <div class="field">
      <%= f.label 'Assign Diagnostic' %><br>
      <%= f.collection_select :diagnostic_code_id, DiagnosticCode.all, :id, :diag_code_name, :include_blank => true %>
    </div>
    <div class="field">
      <%= f.label 'Physician Notes' %><br>
      <%= f.text_area :phy_notes%>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>

<% end %>
