<h1>Editing appt</h1>
<%= form_for(@appt) do |f| %>
    <% if @appt.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@appt.errors.count, "error") %> prohibited this appt from being saved:</h2>

          <ul>
            <% @appt.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

<%= render 'form' %>



    <br>

<%= link_to 'Show', @appt %> |
<%= link_to 'Back', appts_path %>
<% end %>