<h1>Listing appts</h1>

<table>
  <thead>
    <tr>
      <th>Patient Last Name</th>
      <th>Physician</th>
      <th>Apt date</th>
      <th>Time slot</th>
      <th>Reason</th>
      <th>Diagnostic code</th>
      <th>Physician notes</th>
      <th>Diagnostic Cost</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @appts.order('apt_date').reverse_order.each do |appt| %>
      <tr>
        <td><%= appt.patient.pat_l_name %></td>
        <td><%= appt.physician.phy_name %></td>
        <td><%= appt.apt_date %></td>
        <td><%= appt.slot.time_block %></td>
        <td><%= appt.reason %></td>
        <td><%= appt.diagnostic_code.diag_code_name rescue '' %></td>
        <td><%= appt.phy_notes %></td>
        <td><%=number_to_currency(appt.diagnostic_code.diag_cost) rescue '' %></td>
        <td><%= link_to 'Appointment Invoice', appt %></td>
        <td><%= link_to 'Update', edit_appt_path(appt) %></td>
        <td><%= link_to 'Cancel', appt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Appt', new_appt_path %>
