<p id="notice"><%= notice %></p>
<h2>Showing appointment details:</h2>

<p>
  <strong>Patient:</strong>
  <%= @appt.patient.pat_l_name %>
</p>

<p>
  <strong>Physician:</strong>
  <%= @appt.physician.phy_name %>
</p>

<p>
  <strong>Apt date:</strong>
  <%= @appt.apt_date %>
</p>

<p>
  <strong>Slot:</strong>
  <%= @appt.slot.time_block %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @appt.reason %>
</p>

<p>
  <strong>Diagnostic code:</strong>
  <%= @appt.diagnostic_code.diag_code_name rescue ''%>
</p>
<p>
  <strong>Diagnosis Cost:</strong>
  <%= number_to_currency(@appt.diagnostic_code.diag_cost) rescue ''%>
</p>
<p>
  <strong>Phy notes:</strong>
  <%= @appt.phy_notes %>
</p>

<br>
<%= link_to 'Edit', edit_appt_path(@appt) %> |
<%= link_to 'Back', appts_path %>
