<!DOCTYPE html>
<html>
<head>
  <title>FloresAptMngr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <h1 style="color: #000080; font-variant: small-caps; font-size: 250%; text-decoration: underline;"> Appointment Manager</h1>
  <a href="http://104.236.38.63/">HOME</a>
</head>
<body>
<table class="menu" >
  <thead>
  <tr class="a">
    <th class="a"> Patient </th>
    <th class="a"> Admin </th>
    <th class="a"> Office Staff </th>
    <th class="a"> Physician </th>

  </thead>


  <tbody>
  <tr class="a">
    <td class="a">
      <a href="http://104.236.38.63/appts/new">Book Appointment</a>

    </td>

    <td class="a">
      <a href="http://104.236.38.63/physicians">Edit Physicians</a>
    </td>

    <td class="a">
      <a href="http://104.236.38.63/appts/">Patient Appointment Invoice</a>
    </td>

    <td class="a">
      <a href="http://104.236.38.63/physicians">Appointment Schedule</a>
    </td>
  </tr>

  <tr class="a">
    <td class="a">
      <a href="http://104.236.38.63/patients/">Edit Appointment</a>
    </td>

    <td class="a" >
      <a href="http://104.236.38.63/patients">Edit Patients</a>
    </td>
  </tr>

  <tr class="a">
    <td class="a">
      <a href="http://104.236.38.63/patients/">Appointment History</a>
    </td>

    <td class="a" >
      <a href="http://104.236.38.63/diagnostic_codes">Edit Diag. Codes</a>
    </td>
  </tr>

  <tr class="a">
    <td class="a">
      <a href= "http://104.236.38.63/patients/new">Create Online Account</a>
    </td>

    <td class="a" >
      <a href="http://104.236.38.63/physicians">Appointment Schedule</a>
    </td>

  </tr>

  </tbody>
</table>
<br>
<br>

<%= yield %>

</body>
</html>
